@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

//variables
$x-path: url('../../img/x.png');
$o-path: url('../../img/o.png');
//special classes 
.rotate180 { animation: rotate180 0.5s ease-in-out }

:root {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}
.start {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: rgba(255, 245, 238, 0.8);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &:active {transform: scale(1.1);}
}
.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
    position: relative;
    width: 40rem;
    height: 35rem;
    padding: 1rem;
    border-radius: 2rem;

    .box {
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        background-color: rgba(255, 245, 238, 0.178);
        cursor: pointer;
        outline: none;
        border: none;

        &:hover { background-color: rgba(255, 245, 238, 0.3) }
        &:active {transform: scale(1.1);}
    }
    .x {
        background-image: url('../../img/x.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
    }
    .o {
        background-image: url('../../img/o.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
    }
    .winning-box {
        background-color: #85FFBD;
        &:hover { background-color: #85FFBD; }
    }

    .info {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: -7.5rem;
        gap: 1rem;
        left: 0;
        width: 100%;
        height: 7rem;
        padding: 0.5rem 1rem;

        .switch {
            width: 4rem;
            height: 4rem;
            cursor: pointer;
            border: none;
            outline: none;
            background: url('../../img/switch.png') no-repeat center;
            background-size: 80%;
            transition: transform 1s;
        }
        .computer,
        .gamer {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            width: 50%;
            height: 100%;
            padding: 0.5rem 1rem;
            border: 2px solid rgba(255, 245, 238, 0.5);
            border-radius: 1rem;

            .name {
                font-size: 2rem;
                font-weight: bold;
                color: rgba(255, 245, 238, 0.8);
            }
            
            .type {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 4rem;
                height: 4rem;
                font-size: 1.5rem;
                font-weight: bold;
                color: rgba(255, 245, 238, 0.8);
                border-radius: 50%;
                background-color: rgba(255, 245, 238, 0.2);
                user-select: none;

                &:hover { background-color: rgba(255, 245, 238, 0.3) }
            }
        }
        .winner { background-color: rgba(133, 255, 190, 0.801) }
    }
}

@keyframes rotate180 {
    to {
        transform: rotate(180deg);
    }
}